
body {
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: Cambria, Georgia, "Times new Roman";
}
#item {
    margin: auto;
    float: left;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.item {
    border: 1px solid black;
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
}

.person-name {
    font-size: 30px;
}

.voting-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    display: flex;
}

.voting-thanks {
    font-size: 50px;
    padding-top: 100px;
}