@using AspCourseProject.Domain.Entities
@using AspCourseProject.WebUI.HtmlHelpers
@model AspCourseProject.WebUI.Models.PersonsListViewModel
@{
    ViewBag.Title = "List";
}

@foreach (var p in Model.Persons)
{
    @Html.Partial("PersonPartial", p)
}
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new
    {
        page = x, category = Model.CurrentCategory, status = Model.CurrentStatus 
    
    }))
</div>

